/* 动画过渡效果 不同方向*/

.fade-in {
  opacity: 0;
  animation: fade 1s forwards;
}

/* 从左到右 */
.fade-in-enter {
  opacity: 0;
  transform: translateX(-100px);
  animation: fadeX 0.8s forwards;
}
/* 从下到上 */
.fade-in-up {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeY 0.8s forwards;
}
/* 从上到下 */
.fade-in-down {
  opacity: 0;
  transform: translateY(-100px);
  animation: fadeY 0.8s forwards;
}
/* 缩放: 逐渐淡入 */
.scale-in {
  opacity: 0;
  transform: scale(0.5);
  animation: scaleIn 0.8s forwards;
}
/* 缩放: 逐渐淡出 */
.scale-out {
  opacity: 1;
  transform: scale(1);
  animation: scaleIn 0.8s forwards;
}
.skeleton {
  background-color: rgba(100, 100, 100, 0.5);
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes fadeY {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeX {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes scaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleOut {
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes fade {
  to {
    opacity: 100;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}
