/* 引入动画 */
@import url("./styles/transition.css");
/* 字体样式 */
@font-face {
  font-family: "Mukta";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/MuktaVaani-Regular.ttf) format("ttf");
}
@font-face {
  font-family: "Mukta";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/MuktaVaani-SemiBold.ttf) format("ttf");
}
@font-face {
  font-family: "Mukta";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/MuktaVaani-Bold.ttf) format("ttf");
}

@font-face {
  font-family: "MrsSheppards";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/MrsSheppards-Regular.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 亮色主题 */
:root {
  --color-primary: 244, 186, 24;
  --color-secondary: 248, 110, 19;
  --color-content: 228, 232, 236;
  --color-foreground: 240, 243, 246;
  --color-text-primary: 40, 40, 40;
  --color-card-hovered: 103, 103, 103, 0.5;
  --color-card-active: 103, 103, 103, 0.4;
}
/* 暗色主题 */
.dark {
  --color-primary: 244, 186, 24;
  --color-secondary: 248, 110, 19;
  --color-content: 45, 45, 45;
  --color-foreground: 34, 34, 34;
  --color-text-primary: 255, 255, 255;
  --color-card-hovered: 103, 103, 103, 0.5;
  --color-card-active: 103, 103, 103, 0.4;
}

/* TODO: 实现颜色风格样式, 用户通过选择改变 primary 和 secondary 颜色 */
@layer base {
  * {
    @apply box-border m-0 p-0;
  }
}
@layer components {
  /* 渐变主题样式 */
  .linear-theme {
    @apply bg-gradient-to-br from-primary to-secondary;
  }
  /* 渐变主题文本样式 */
  .linear-theme-text {
    @apply bg-clip-text linear-theme text-transparent;
  }
  .maple-button {
    @apply rounded-full text-sm px-2 py-1 transition-all duration-300;
  }
  /* 带有主题按钮样式 */
  .theme-button {
    @apply linear-theme maple-button font-bold;
  }
  /* 默认按钮样式 */
  .default-button {
    @apply bg-neutral-500/20 maple-button hover:bg-[rgba(var(--color-card-hovered))] active:bg-[rgba(var(--color-card-active))] border border-neutral-500/30 text-neutral-300 font-bold px-8 py-2;
  }
  /* 主菜单搜索框样式 */
}
/* 滑块scrollbar样式 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  padding: 3px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
